@model MvcWebPackExample.Models.ContactViewModel

@{
ViewBag.Title = "Contact";
Layout = "_Layout";
}

@section Scripts {
<script src="~/dist/validation.min.js" defer></script>
}

<h1>@ViewBag.Title</h1>

<form asp-controller="Home" asp-action="Contact">
  <div class="mb-3">
    <label asp-for="Subject" class="form-label"></label>
    <input asp-for="Subject" class="form-control" />
    <span asp-validation-for="Subject" class="small text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Message" class="form-label"></label>
    <textarea asp-for="Message" class="form-control"></textarea>
    <span asp-validation-for="Message" class="small text-danger"></span>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
